body {
    font-family: 'Raleway', sans-serif;
    color: #52CCCE;
}

h1,  h2, h3, h4, h5, h6 {
    font-family: 'Josefin Sans', sans-serif;
}

footer {
    background-color: #677C8A;
}

img {
    border: 1px solid #677c8a;
    width: 100%;
}

.border {
   border: 1px solid #677c8a;
}

.padding {
    padding-bottom: 50px
}

.logo {
    font-size: 6em;
    letter-spacing: -16px;
    margin-top: 15px;
}

.title-super {
    font-size: 45px;
}

.title-header {
    font-size: 30px;
}

.pad {
    padding: 20px;
}

.print {
    max-height: 5px;
    width: auto;
}

.logo {
    max-height: 15px;
    width: auto;
}

[class*="zocial-"]:before {
    color: #52CCCE;
    display: inline-block;
    font-family: 'zocial', sans-serif;
    /*text-shadow: 3px 3px 3px #aaa;*/
    width: 2em;
    font-size: 36px;
    }
a:hover [class*="zocial-"]:before {
    color: #52CCCE;
}
a:hover {
    color: #52CCCE;
    text-decoration: underline;
}
a:-webkit-any-link {
    cursor: auto;
}
@media only screen and (max-width: 450px)  {
    [class*="zocial-"]:before {
        font-size: 24px;
    }
    h3 {
        font-size: 18px;
    }
}
